@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Privacybeleid</h1>

<p>
    In deze webapplicatie kunnen klanten producten bestellen. Hierbij slaan wij de volgende gegevens tijdelijk op:
</p>

<ul>
    <li>Voor- en achternaam</li>
    <li>Woonplaats en postcode</li>
    <li>E-mailadres</li>
    <li>Betaalmethode (alleen omschrijving, geen echte gegevens)</li>
</ul>

<p>
    Deze gegevens worden alleen gebruikt om bestellingen te verwerken en worden niet gedeeld met derden.
    De gegevens zijn opgeslagen in een beveiligde database binnen deze applicatie.
</p>

<p>
    Dit is een leerproject ontwikkeld als onderdeel van een opleiding aan Zuyd Hogeschool. De applicatie verzamelt geen echte betaalinformatie en wordt niet commercieel ingezet.
</p>

<p>Voor vragen of verzoeken over jouw gegevens, neem contact op via 2303668isaag@zuyd.nl.</p>